<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ff.modealapplication">

    <!-- 알림시 꺼진화면 켜지기 했으나 안됨... -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--<permission android:name="com.ff.modealapplication.permission.C2D_MESSAGE"-->
        <!--android:protectionLevel="signature" />-->
    <!--<uses-permission android:name="com.ff.modealapplication.permission.C2D_MESSAGE" />-->

    <!-- 이미지 업로드용(폰 갤러리에서 사진 뽑아오기) -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 인터넷 권한 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 지도 권한 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo1"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- facebook -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <!-- facebook -->

        <activity
            android:name=".app.ui.main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 스플래시(어플 시작할때 잠깐 뜨는 이미지) -->
        <activity
            android:name=".app.ui.main.SplashActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- 스플래시 -->


        <!-- 구글 클라우드 메시징(알림) -->
        <service android:name=".app.ui.message.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".app.ui.message.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <!-- 구글 클라우드 메시징(알림) -->


        <!-- 매장등록 지도로 하기 -->
        <activity
            android:name=".app.ui.map.SearchShopToJoinActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.ui.message.MessagingActivity"
            android:screenOrientation="portrait" />

        <!-- 액티비티 추가할때마다 android:theme="@style/AppTheme.NoActionBar" 도 추가해줘야 자체제작액션바 사용가능 -->
        <!-- 액티비티 추가할떄마다 android:screenOrientation="portrait" 도 추가해줘야 화면고정됨 -->
        <activity
            android:name=".app.ui.login.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" /> <!-- EditText가 있는 액티비티에서 키보드 자동 숨기기 -->
        <activity
            android:name=".app.ui.search.SearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".app.ui.search.SearchResultActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- facebook -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            tools:replace="android:theme" />
        <!-- facebook -->

        <activity
            android:name=".app.ui.join.JoinActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- 아이템 액티비티 -->
        <activity
            android:name=".app.ui.item.ItemActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" /> <!-- NoActionBar 사용시 기본 헤더 숨겨짐 -->
        <activity
            android:name=".app.ui.item.ItemInsertActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".app.ui.item.ItemModifyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".app.ui.item.ItemDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".app.ui.help.HelpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".app.ui.join.JoinLeaveActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- 매장상세정보 -->
        <activity
            android:name=".app.ui.market.MarketDetailInformationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".app.ui.login.FindPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <!-- 액티비티 추가할때마다 android:theme="@style/AppTheme.NoActionBar" 도 추가해줘야 자체제작액션바 사용가능 -->
        <!-- 액티비티 추가할떄마다 android:name=".app.ui.message.WakeUpActivity" 도 추가해줘야 화면고정됨 -->
        <activity
            android:name=".app.ui.map.MainMapActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".app.ui.map.SearchMapRangeActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".app.ui.map.AddressListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".app.ui.map.SearchToMapActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".app.ui.map.SearchShopToPointActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".app.ui.map.SearchToShopInMapActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- 마이페이지 -->
        <activity
            android:name=".app.ui.mypage.UserMyPageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".app.ui.mypage.OwnerMyPageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- 회원정보수정 -->
        <activity
            android:name=".app.ui.modify.UserModifyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".app.ui.modify.OwnerModifyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".app.ui.notice.NoticeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".app.ui.bookmark.BookmarkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".app.ui.message.AlarmActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>